
<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-menu side="start" class="my-custom-menu">
    <ion-header>
      <ion-toolbar translucent>
        <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
        <ion-title class="title-menu"> Centros de Atención </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
     <img class="logo" src="assets/images/Logo.svg">
        <ion-item text-center class="text-menu" routerLink="/home"><ion-label>Centros de Atención</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/Tips"><ion-label>Tips</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/blog"><ion-label>Blog</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/galeria" id="M1"><ion-label>Galeria</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/login"><ion-label>Salir</ion-label></ion-item>
        <ion-item offset="1" >
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-item>
          <ion-item offset="1" >
          <img class="icono" src="assets/icon/usa.svg">
          <img class="icono" src="assets/icon/mexico.svg">
        </ion-item>
        </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" main>
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
       galeria 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let imagen of imagenes; index as i">
      
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Card</ion-title>
    </ion-toolbar>
  </ion-header>,
  <ion-content fullscreen>
    <ion-card>
      <img class="galeria" src="assets/images/galeria/amigo.jpg" alt="" srcset="" >
      <ion-card-header>
        <ion-card-title color="light"  offset="1" class="text-login">Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
<!-- imagen 2-->
    <ion-card>
      <img class="galeria" src="assets/images/galeria/chica.jpg" alt="" srcset="" >
      <ion-card-header>
        <ion-card-title color="light"  offset="1" class="text-login">Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
<!-- imagen 3-->
    <ion-card>
      <img class="galeria" src="assets/images/galeria/Dia.jpg" alt="" srcset="" >
      <ion-card-header>
        <ion-card-title color="light"  offset="1" class="text-login">Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
<!-- imagen 4-->
    <ion-card>
      <img class="galeria" src="assets/images/galeria/Diagnostico.jpg" alt="" srcset="" >
      <ion-card-header>
        <ion-card-title color="light"  offset="1" class="text-login">Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
<!-- imagen 5-->
    <ion-card>
      <img class="galeria" src="assets/images/galeria/Madre.jpg" alt="" srcset="" >
      <ion-card-header>
        <ion-card-title color="light"  offset="1" class="text-login">Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
<!-- imagen 6-->
    <ion-card>
      <img class="galeria" src="assets/images/galeria/Niña.jpg" alt="" srcset="" >
      <ion-card-header>
        <ion-card-title color="light"  offset="1" class="text-login">Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
<!-- imagen 7-->
    <ion-card>
      <img class="galeria" src="assets/images/galeria/Pata.jpg" alt="" srcset="" >
      <ion-card-header>
        <ion-card-title color="light"  offset="1" class="text-login">Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
<!-- imagen -->
    <ion-card>
      <img class="galeria" src="assets/images/galeria/Perro.jpg" alt="" srcset="" >
      <ion-card-header>
        <ion-card-title color="light"  offset="1" class="text-login">Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>

  </ion-content>
 
  




</ion-app>
</div>
</ion-app>